* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: 'Inconsolata';
    color: white;
}

td {
    width: 20px;
    height: 20px;
}

/** Classes make the colors show up like this on the grid.**/
.blank {
    background-color: black;
}

.snake {
    background-color: greenyellow;
}

.wall {
    background-color: green;
}

.fruit {
    background-color: red;
}

a {
    color: rgb(187, 187, 187);
}